@* @{
    ViewData["Title"] = "Index";
}
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<header>
    <h2>Bienvenido a su organizador de tareas!</h2>
</header>
<div class="index">
    <a href='@Url.Action("IniciarSesion")'>Iniciar sesión</a><br />
    <a href='@Url.Action("Registrarse")'>Registrarse si no tenés cuenta</a>
</div>
*@

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<header>
    <h2>Bienvenido a su organizador de tareas!</h2>
</header>
<main class="centered">
    <div class="card">
        <a class="btn" href='@Url.Action("IniciarSesion")'>Iniciar sesión</a>
        <a class="btn secondary" href='@Url.Action("Registrarse")'>Registrarse si no tenés cuenta</a>
    </div>
</main>

