@{
    ViewData["Title"] = "Usuario";
}

<p>Usuario: @ViewBag.usuario</p>
<a href='@Url.Action("NuevaTarea")'>AGREGAR TAREA</a>
@if (ViewBag.listaTareas != null)
{
    @foreach (var tarea in ViewBag.listaTareas)
    {
    if (!tarea.EstaEliminada)
    {
        <div class="tarea-card">
            <span><strong>@tarea.Titulo</strong></span>
            <span>- Estado: 
                @{
                    if (tarea.EstaFinalizada) {
                        <span>Finalizada</span>;
                    } else {
                        <span>Activa</span>;
                    }
                }
            </span>
            <span>- Fecha: @tarea.FechaCreacion.ToString("yyyy-MM-dd")</span>
            <a href='@Url.Action("VerTarea", "Home", new { id = tarea.Id })'>Editar</a>
        </div>
    }
    }
}
else
{
    <p>No hay tareas disponibles.</p>
}
<form method="post" action="@Url.Action("CerrarSesion", "Home")" style="text-align:center; margin-top:2em;">
    <input type="submit" value="Cerrar sesión" style="font-size:1.1em; padding:0.6em 1.3em; background:#e24b98; color:#fff; border-radius:8px; border:none; cursor:pointer;" />
</form>
